<!DOCTYPE html>
<html>
<head>
  <title>What do you want to play Rock, Paper or Scissors?</title>
</head>
<body>
<h1>What do you want to play Rock, Paper or Scissors?</h1>
<nav>
  <ul>
    <li><a href="rock"> <img src="\assets\images\rock.png" style="width:10%;height:10%;border:10px;"> </a></li>
      <li><a href="paper">  <img src="\assets\images\paper.png" style="width:10%;height:10%;border:10px;"></a></li>
    <li><a href="scissors"> <img src="\assets\images\scissors.png" style="width:10%;height:10%;border:30;"></a></li>>
  </ul>
</nav>

</body>
</html>
