<h1> Moment of Truth </h1>

<p> You played scissors <p>

  <%=   moves = ["rock", "paper" , "scissors"]      %>

  <p> and the computer played:    <%=   @computer_moves %>
  <p>


<h3> <%=   @result %> <h3>
  
  <a href="/"> Play again? <br>
     <img src="https://cdn1.iconfinder.com/data/icons/pointed-edge-web-navigation/107/redo-grey-512.png " style="width:2%;height:2%;border:10px;"> </a>
